@model ToDo.Models.ToDos

@{
    ViewData["Title"] = "Create";
}

<style>
    .checkbox-text {
        margin-left: 10px;
    }

    .form-group {
        width: 500px;
    }

        .form-group input[type="submit"] {
            margin-bottom: 5px;
        }
</style>

<h1>Create</h1>

<h4>ToDos</h4>
<hr />

<div class="row">
    <div class="col-md-6">
        <form asp-action="Create" class="Form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsCompleted" />
                    <span class="checkbox-text">@Html.DisplayNameFor(model => model.IsCompleted)</span>
                </label>
            </div>
            <br>
            <div class="form-group">
                <label asp-for="DueDate" class="control-label"></label>
                <input asp-for="DueDate" class="form-control" type="date" />
                <span asp-validation-for="DueDate" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <label asp-for="Categories" class="control-label"></label>
                <input asp-for="Categories" class="form-control" />
                <span asp-validation-for="Categories" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <label asp-for="PriorityLevel" class="control-label">Priority Level</label>
                <select asp-for="PriorityLevel" class="form-control">
                    <option value="High">High</option>
                    <option value="Low">Low</option>
                </select>
                <span asp-validation-for="PriorityLevel" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-create" />
            </div>
        </form>
    </div>
    <div class="col-md-4" style="margin-top: 40px; margin-bottom: 40px; margin-left: 0px">
        <img src="~/img/notes.png" class="img-fluid rounded" style="height: 400px;" style="width: 200px;" alt="create img" />
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#DueDate").change(function () {
                var selectedDate = new Date($(this).val());
                var currentDate = new Date();
                if (selectedDate < currentDate) {
                    $(this).val(""); // Clear the input value if it's in the past
                    alert("Due date cannot be set in the past.");
                }
            });
        });
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
